<p-card header="Find Location" class="z-5 relative flex align-items-center justify-content-center p-4">
  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <input type="text" pInputText placeholder="Keyword">   
            <p-button icon="pi pi-search" (onClick)="load()"></p-button>
        </div>
    </div>
  </div>
  <div class="grid p-fluid">
    <div class="col-12 md:col-4">
      <p-button label="Submit" (onClick)="currentLoction()"></p-button>
    </div>
  </div>

  <!-- <p-autoComplete [(ngModel)]="text" field="name" [showEmptyMessage]="true" id="value" [suggestions]="output"  (completeMethod)="searchMap($event)"></p-autoComplete> -->
</p-card>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>



<!-- <h1>How to Integrate Google Maps in Angular 15 - ItSolutionStuff.com</h1>
  
<google-map height="500px"
            width="900px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>
  
<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div> -->
